---
title: Program
subtitle: Keynote speakers, papers, and demos
layout: page
show_sidebar: false
---

<h1>Keynote Speakers</h1>

<div class="columns box">
    <div class="column is-6">
        <div class="column is-6">
            {% include image-modal.html ratio="is-3by4" link="../img/RefikAnadol_Headshot_Credit Serge Hoeltschi Small.JPG" alt="Refik Anadol" %}
        </div>
        <div class="column">
            <p class="title">Refik Anadol</p>
            <p class="subtitle"><a href="http://refikanadol.com">http://refikanadol.com</a></p>
            <h3>Space In the Mind of a Machine</h3>
            <p>Perception of space – whether it is physical, digital, topological, quantum, or hyper – requires
                particular kinds of interactive and cognitive processes through which we become aware of the relative
                positions of objects around us. Our techno-aesthetic inquiries into how we make sense of spaces focus on
                revealing numerous meanings of this awareness from the intersection of post-digital architecture,
                neuroscience, technology, and machine learning. In this talk, I will discuss how audio-visual,
                immersive, and interactive media arts help us overcome the limitations of perspectival representation
                and play a crucial role in the symbiotic relationship between perception and imagination.</p>
            <h4>Bio</h4>
            <p>Refik Anadol is a media artist, director, and pioneer in the aesthetics of machine intelligence. His work
                addresses the challenges, and the possibilities, that ubiquitous computing has imposed on humanity, and
                what it means to be a human in the age of AI. He explores how the perception and experience of time and
                space are radically changing now that machines dominate our everyday lives. As a spatial thinker, Anadol
                is intrigued by the ways in which the digital age and machine intelligence allow for a new aesthetic
                technique to create enriched immersive environments that offer a dynamic perception of space.</p>
            <p>Residing at the crossroads of art, science, and technology, Anadol’s site-specific three-dimensional data
                sculptures, live audio/visual performances, and immersive installations take many virtual and physical
                forms. Entire buildings come to life, floors, walls, and ceilings disappear into infinity, breathtaking
                aesthetics take shape from large swaths of data, and what was once invisible to the human eye becomes
                visible, offering the audience a new perspective on, and narrative of their worlds.</p>
            <p>Anadol currently resides in Los Angeles, California, where he owns and operates Refik Anadol Studio and
                RAS LAB, the Studio’s research practice centered around discovering and developing trailblazing
                approaches to data narratives and artificial intelligence. He is also a lecturer and researcher for
                UCLA's Department of Design Media Arts from which he obtained his Master of Fine Arts.</p>
        </div>
    </div>

    <div class="column is-6">
        <div class="column is-6">
            {% include image-modal.html ratio="is-3by4" link="../img/maya4.jpg" alt="Maya Ackerman" %}
        </div>
        <div class="column">
            <p class="title">Maya Ackerman</p>
            <p class="subtitle"><a href="https://maya-ackerman.com/">https://maya-ackerman.com/</a></p>
            <h3>Commercializing Creative Systems - Opportunities and Challenges</h3>
            <p>The computational creativity research community is leading the charge on autonomous and human-machine
                collaborative creative systems, which stand to have substantial social and economic impact. So far, most
                computational creativity developments have taken place in the academic sphere. Much potential remains to
                be explored by sharing computational creativity research with the public through the commercialization
                of creative systems.</p>
            <p>What does it take to commercialize a creative system? What are the benefits and challenges of doing so?
                In this talk, Dr. Ackerman will share her experience commercializing her Computational Creativity
                research, resulting in the songwriting products ALYSIA and LyricStudio. Opportunities and challenges for
                commercialization of computational creativity research will be discussed.</p>
            <h4>Bio</h4>
            <p>Dr. Maya Ackerman is a researcher and entrepreneur in the fields of Machine Learning and Computational
                Creativity. She was named "2020 Woman of Influence" by the Silicon Valley Business Journal. She is the
                CEO &amp; Co-Founder of WaveAI, a musical AI startup, and she is an Assistant Professor at the
                Department of Computer Science and Engineering at Santa Clara University. She is also an accomplished
                singer and music producer.</p>
            <p>Dr. Ackerman has been an invited speaker at the United Nations, IBM Research, Google, and Stanford
                University, and has appeared on NBC News, New Scientist, Grammy.com, and international television
                stations across the globe. She is the recipient of awards from the Association of Computational
                Creativity, Office of Naval Research, Natural Sciences and Engineering Research Council of Canada,
                Shanghai Yangpu Global Competition, the Startup Conference, and more.</p>
            <p>Dr. Ackerman earned her Ph.D. in Computer Science from the University of Waterloo, and she held
                Postdoctoral Fellowships at Caltech and UC San Diego. She is an Associate Editor of the Journal
                of Computational Creativity and a member of the Steering Committee of the Association on Computational
                Creativity.</p>
        </div>
    </div>
</div>

<h1>Workshop Program</h1>
<p>Times are primarily listed in Eastern Daylight Time (UTC-4). Additional times are shown for Pacific Daylight Time
    (UTC-7) and Central European Summer Time (UTC+2).</p>
<p>Workshop proceedings have been published in CEUR: <a href="http://ceur-ws.org/Vol-2903/">http://ceur-ws.org/Vol-2903/</a>.</p>
<div class="columns box">
    <table class="table is-fullwidth">
        <thead style="text-align: left;">
            <th style="min-width: 120px;">Time</th>
            <th>Activity</th>
        </thead>
        <tbody>
            <tr>
                <td>9am
                    <br /><span style="font-size: 0.8em; color: #aaa">6am PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">3pm CEST</span>
                </td>
                <td>
                    <p><strong>Kickoff</strong></p>
                    <p>Welcoming remarks by workshop chairs</p>
                </td>
            </tr>
            <tr>
                <td>9:15am
                    <br /><span style="font-size: 0.8em; color: #aaa">6:15am PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">3:15pm CEST</span>
                </td>
                <td>
                    <p><strong>Keynote 1: Refik Anadol &mdash; Space In the Mind of a Machine</strong></p>
                    <p>Introduction by Justin Weisz</p>
                </td>
            </tr>
            <tr>
                <td>10am
                    <br /><span style="font-size: 0.8em; color: #aaa">7am PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">4pm CEST</span>
                </td>
                <td>
                    <p><strong>Break &amp; Open Discussion</strong></p>
                </td>
            </tr>
            <tr>
                <td>10:15am
                    <br /><span style="font-size: 0.8em; color: #aaa">7:15am PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">4:15pm CEST</span>
                </td>
                <td>
                    <p><strong>Session 1: Building Co-Creative Systems I</strong></p>
                    <p>Chair: Hendrik Strobelt</p>
                    <ul>
                        <li>Doron Friedman and Dan Pollak. Image Co-Creation by Non-Programmers and Generative
                            Adversarial Networks</li>
                        <li>Daniel Buschek, Lukas Mecke, Florian Lehmann and Duong Hai Dang. Nine Potential Pitfalls
                            when Designing Human-AI Co-Creative Systems</li>
                        <li>Paolo Morettin, Andrea Passerini and Stefano Teso. Co-creating Platformer Levels with
                            Constrained Adversarial Networks</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>11:15am
                    <br /><span style="font-size: 0.8em; color: #aaa">8:15am PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">5:15pm CEST</span>
                </td>
                <td>
                    <p><strong>Break &amp; Open Discussion</strong></p>
                    <p style="color: #aaa">US East Lunch (early)</p>
                </td>
            </tr>
            <tr>
                <td>11:30am
                    <br /><span style="font-size: 0.8em; color: #aaa">8:30am PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">5:30pm CEST</span>
                </td>
                <td>
                    <p><strong>Session 2: Co-Creative Experiences: Visual &amp; Auditory Artifacts</strong></p>
                    <p>Chair: Werner Geyer</p>
                    <ul>
                        <li>Eyal Gruss. Avatars for All!</li>
                        <li>Vivian Liu and Lydia Chilton. Semantically Guided Generation of 3D Animal Shapes</li>
                        <li>Michelle Carney, Chong Li, Edwin Toh, Nida Zada, Ping Yu and Jesse Engel. Tone Transfer:
                            In-Browser Interactive Neural Audio Synthesis</li>
                        <li>Yucheng Jin, Ge Gao, Tiffany Ong and Xi Su. CreativeSVG: A Creativity Support Tool for
                            Abstract Background Design with Generative Vector Graphics</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>1pm
                    <br /><span style="font-size: 0.8em; color: #aaa">10am PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">7pm CEST</span>
                </td>
                <td>
                    <p><strong>Break &amp; Open Discussion</strong></p>
                    <p style="color: #aaa">US East Lunch (late)</p>
                </td>
            </tr>
            <tr>
                <td>1:15pm
                    <br /><span style="font-size: 0.8em; color: #aaa">10:15am PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">7:15pm CEST</span>
                </td>
                <td>
                    <p><strong>Session 3: Building Co-Creative Systems II</strong></p>
                    <p>Chair: Lydia Campbell</p>
                    <ul>
                        <li>Jingoog Kim, Safat Siddiqui and Mary Lou Maher. Studying the Impact of AI-based Inspiration
                            on Human Ideation in a Co-Creative Design System</li>
                        <li>Jeba Rezwana, Mary Lou Maher and Nicholas Davis. Creative PenPal: A Virtual Embodied
                            Conversational Agent to Improve User Engagement and Collaborative Experience in Human-AI
                            Co-Creative Design Ideation</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2pm
                    <br /><span style="font-size: 0.8em; color: #aaa">11am PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">8pm CEST</span>
                </td>
                <td>
                    <p><strong>Break &amp; Open Discussion</strong></p>
                </td>
            </tr>
            <tr>
                <td>2:15pm
                    <br /><span style="font-size: 0.8em; color: #aaa">11:15am PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">8:15pm CEST</span>
                </td>
                <td>
                    <p><strong>Keynote 2: Maya Ackerman &mdash; Commercializing Creative Systems - Opportunities and
                            Challenges</strong></p>
                    <p>Introduction by Mary Lou Maher</p>
                </td>
            </tr>
            <tr>
                <td>3pm
                    <br /><span style="font-size: 0.8em; color: #aaa">12pm PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">9pm CEST</span>
                </td>
                <td>
                    <p><strong>Break &amp; Open Discussion</strong></p>
                    <p style="color: #aaa">US West Lunch</p>
                </td>
            </tr>
            <tr>
                <td>3:15pm
                    <br /><span style="font-size: 0.8em; color: #aaa">12:15pm PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">9:15pm CEST</span>
                </td>
                <td>
                    <p><strong>Session 4: Co-Creative Experiences: Textual Artifacts</strong></p>
                    <p>Chair: Katy Gero</p>
                    <ul>
                        <li>Kyle McDonell and Laria Reynolds. Multiversal views on language models</li>
                        <li>Kenneth Arnold, April Volzer and Noah Madrid. Generative Models can Help Writers without
                            Writing for Them</li>
                        <li>Michael Muller, April Yi Wang, Steven Ross, Justin Weisz, Mayank Agarwal, Kartik
                            Talamadupula, Stephanie Houde, Fernando Martinez, John Richards, Jaimie Drozdal, Xuye Liu,
                            David Piorkowski and Dakuo Wang. How Data Scientists Improve Generated Code Documentation in
                            Jupyter Notebooks</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>4pm
                    <br /><span style="font-size: 0.8em; color: #aaa">1pm PDT</span>
                    <br /><span style="font-size: 0.8em; color: #aaa">10pm CEST</span>
                </td>
                <td>
                    <p><strong>Closing Discussion</strong></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>