---
title: Program
subtitle: Keynote speakers, papers, and demos
layout: page
show_sidebar: false
---

<h1>Keynote Speakers</h1>

<div class="columns box">
    <div class="column is-6">
        <div class="column is-6">
            {% include image-modal.html ratio="is-3by4" link="../img/RefikAnadol_Headshot_Credit Serge Hoeltschi Small.JPG" alt="Refik Anadol" %}
        </div>
        <div class="column">
            <p class="title">Refik Anadol</p>
            <p class="subtitle"><a href="http://refikanadol.com">http://refikanadol.com</a></p>
            <h3>Bio</h3>
            <p>Refik Anadol is a media artist, director, and pioneer in the aesthetics of machine intelligence. His work
                addresses the challenges, and the possibilities, that ubiquitous computing has imposed on humanity, and
                what it means to be a human in the age of AI. He explores how the perception and experience of time and
                space are radically changing now that machines dominate our everyday lives. As a spatial thinker, Anadol
                is intrigued by the ways in which the digital age and machine intelligence allow for a new aesthetic
                technique to create enriched immersive environments that offer a dynamic perception of space.</p>
            <p>Residing at the crossroads of art, science, and technology, Anadol’s site-specific three-dimensional data
                sculptures, live audio/visual performances, and immersive installations take many virtual and physical
                forms. Entire buildings come to life, floors, walls, and ceilings disappear into infinity, breathtaking
                aesthetics take shape from large swaths of data, and what was once invisible to the human eye becomes
                visible, offering the audience a new perspective on, and narrative of their worlds.</p>
            <p>Anadol currently resides in Los Angeles, California, where he owns and operates Refik Anadol Studio and
                RAS LAB, the Studio’s research practice centered around discovering and developing trailblazing
                approaches to data narratives and artificial intelligence. He is also a lecturer and researcher for
                UCLA's Department of Design Media Arts from which he obtained his Master of Fine Arts.</p>
        </div>
    </div>

    <div class="column is-6">
        <div class="column is-6">
            {% include image-modal.html ratio="is-3by4" link="../img/maya4.jpg" alt="Maya Ackerman" %}
        </div>
        <div class="column">
            <p class="title">Maya Ackerman</p>
            <p class="subtitle"><a href="https://maya-ackerman.com/">https://maya-ackerman.com/</a></p>
            <h3>Bio</h3>
            <p>Dr. Maya Ackerman is a researcher and entrepreneur in the fields of Machine Learning and Computational
                Creativity. She was named "2020 Woman of Influence" by the Silicon Valley Business Journal. She is the
                CEO &amp; Co-Founder of WaveAI, a musical AI startup, and she is an Assistant Professor at the
                Department of Computer Science and Engineering at Santa Clara University. She is also an accomplished
                singer and music producer.</p>
            <p>Dr. Ackerman has been an invited speaker at the United Nations, IBM Research, Google, and Stanford
                University, and has appeared on NBC News, New Scientist, Grammy.com, and international television
                stations across the globe. She is the recipient of awards from the Association of Computational
                Creativity, Office of Naval Research, Natural Sciences and Engineering Research Council of Canada,
                Shanghai Yangpu Global Competition, the Startup Conference, and more.</p>
            <p>Dr. Ackerman earned her Ph.D. in Computer Science from the University of Waterloo, and she held
                Postdoctoral Fellowships at Caltech and UC San Diego. She is an Associate Editor of the Journal
                of Computational Creativity and a member of the Steering Committee of the Association on Computational
                Creativity.</p>
        </div>
    </div>
</div>

<h1>Workshop Program</h1>
<p>Coming soon!</p>