<p class="title is-4">Key Dates</p>

<!--<div class="columns is-multiline" style="padding-left: 12px">-->
<ul class="spaced-list">
    <!--<li>Paper & Demo Submissions: <strong>December 23, 2020 AoE</strong></li>-->
    <li style="text-decoration: line-through;">Paper & Demo Submissions: <strong>January 15, 2021 AoE</strong></li>
    <li style="text-decoration: line-through;">Acceptance Notifications: <strong>February 15, 2021</strong></li>
    <li style="text-decoration: line-through;">Camera-Ready Submissions: <strong>March 12, 2021</strong></li>
    <li style="text-decoration: line-through;">Workshop Date: <strong>April 13, 2021</strong></li>
</div>
